<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="dist/site.css">
</head>
<body>
	<div id="app">
        <div class="container">
    		
            <div v-for="device in devices">
                <device :name="device.name" :icon="device.icon"></device>

                <input type="text" v-model="device.name">
            </div>

        </div><!-- .container -->
	</div>
    
    <script src="dist/site.js"></script>
</body>
</html>